* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol {
  margin: 0;
  padding: 2rem;
}

.navbar {
  display: flex;
  width: 100vw;
  height: 6vh;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: white;
}

.nav_ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav_ul button {
  border-radius: 20px;
  width: 4.2rem;
  height: 2rem;
}
