.recipe_img {
  width: 80%;
}

.recipes_list {
  margin-bottom: 6.5vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1%;
}

.recipe_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1%;
  margin: 1vw 1vh;
}
